:host ::ng-deep {
  --primary-color: #3b82f6 !important;
  --primary-color-text: #ffffff !important;
  --primary-50:#f5f9ff !important;
  --primary-100:#d0e1fd !important;
  --primary-200:#abc9fb !important;
  --primary-300:#85b2f9 !important;
  --primary-400:#609af8 !important;
  --primary-500:#3b82f6 !important;
  --primary-600:#326fd1 !important;
  --primary-700:#295bac !important;
  --primary-800:#204887 !important;
  --primary-900:#183462 !important;
}
