<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <p-toast></p-toast>
      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="my-2">
            <button pButton pRipple label="" icon="pi pi-plus" class="p-button-success mr-2"
              (click)="openNew()"></button>
          </div>
        </ng-template>

        <ng-template pTemplate="right">
          <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
            (click)="dt.exportCSV()"></button>
        </ng-template>
      </p-toolbar>

      <p-table #dt [value]="items" [columns]="cols" responsiveLayout="scroll" [rows]="10"
        [globalFilterFields]="['id', 'page', 'title', 'titleTR', 'titleEN','icon','parent','orderId']" [rows]="10"
        [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowHover]="true"
        [exportFilename]="'pmt_admin-' + pageHeader.replaceAll(' ', '_').toLocaleLowerCase()" [loading]="loading"
        dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <h5 class="m-0">{{ pageHeader }}</h5>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Ara..."
                class="w-full sm:w-auto" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of cols" [pSortableColumn]="col.field">
              {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td *ngFor="let col of cols">
              <span class="p-column-title">{{ col.header }}</span>
              <span *ngIf="col.field === 'icon'"> <i [class]="'pi '+item[col.field]"></i></span>
              <span *ngIf="col.field !== 'icon'">{{item[col.field]}}</span>
            </td>
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-pencil"
                  class="p-button-rounded p-button-icon-only p-button-text p-button-sm mr-2"
                  (click)="editItem(item)"></button>
                <button pButton pRipple icon="pi pi-trash"
                  class="p-button-rounded p-button-icon-only p-button-text p-button-sm"
                  (click)="deleteItem(item)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog (onHide)="hideDialog()" [(visible)]="itemDialog" [style]="{ width: '450px' }"
      [header]="item.id ? 'Düzenle' : 'Oluştur'" [modal]="true" class="p-fluid">
      <ng-template pTemplate="content">
        <form [formGroup]="form">
          <div *ngIf="item.id" class="field">
            <label for="id">Id</label>
            <p-inputNumber inputId="id" formControlName="id" name="id"></p-inputNumber>
          </div>
          <div class="field">
            <label for="title">Teknik Başlık</label>
            <input type="text" pInputText id="title" name="title" formControlName="title"
              [ngClass]="{ 'ng-invalid ng-dirty': form.get('title')?.touched && form.get('title')?.invalid }" />
            <small class="ng-dirty ng-invalid" *ngIf="form.get('title')?.touched && form.get('title')?.invalid">Bu alan
              gerekli.</small>
          </div>
          <div class="field">
            <p-tabView orientation="left" [activeIndex]="1">
              <p-tabPanel header="Başlık" class="line-height-1 m-0" [disabled]="true"></p-tabPanel>
              <p-tabPanel header="TR" class="line-height-1 m-0">
                <input type="text" pInputText id="titleTR" name="titleTR" formControlName="titleTR"
                  [ngClass]="{ 'ng-invalid ng-dirty': form.get('titleTR')?.touched && form.get('titleTR')?.invalid }" />
                <small class="ng-dirty ng-invalid"
                  *ngIf="form.get('titleTR')?.touched && form.get('titleTR')?.invalid">Bu alan gerekli.</small>
              </p-tabPanel>
              <p-tabPanel header="EN" class="line-height-1 m-0">
                <input type="text" pInputText id="titleEN" name="titleEN" formControlName="titleEN"
                  [ngClass]="{ 'ng-invalid ng-dirty': form.get('titleEN')?.touched && form.get('titleEN')?.invalid }" />
                <small class="ng-dirty ng-invalid"
                  *ngIf="form.get('titleEN')?.touched && form.get('titleEN')?.invalid">Bu alan gerekli.</small>
              </p-tabPanel>
            </p-tabView>
          </div>
          <div class="field">
            <label for="pageId">Sayfa</label>
            <p-dropdown formControlName="pageId" [appendTo]="'body'" [options]="(pageList$ | async) || []"
              [optionLabel]="pageLabel" optionValue="id" [filter]="true" [showClear]="true"
              placeholder="Sayfa Seçiniz" />
            <small class="ng-dirty ng-invalid" *ngIf="form.get('pageId')?.touched && form.get('pageId')?.invalid">Bu
              alan gerekli.</small>
          </div>
          <div class="field">
            <label for="icon">Menü İkonu</label>
            <p-dropdown formControlName="icon" [appendTo]="'body'" [options]="iconList" optionLabel="icon" optionValue="icon" [filter]="true"
              [showClear]="true" placeholder="Sayfa Seçiniz"> 
              <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="form.get('icon')?.value">
                  <i [class]="form.get('icon')?.value"></i>
                  <div>{{ form.get('icon')?.value }}</div>
                </div>
              </ng-template>
              <ng-template let-icon pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <i [class]="icon.icon"></i>
                  <div>{{ icon.icon }}</div>
                </div>
              </ng-template>
            </p-dropdown>
            <small class="ng-dirty ng-invalid" *ngIf="form.get('icon')?.touched && form.get('icon')?.invalid">Bu alan
              gerekli.</small>
          </div>
          <div class="field">
            <label for="orderId">Menü Sırası</label>
            <p-inputNumber name="orderId" inputId="orderId" formControlName="orderId" [showButtons]="true" [min]="1"
              placeholder="Menü sırası giriniz."
              [ngClass]="{ 'ng-invalid ng-dirty': form.get('orderId')?.touched  && form.get('orderId')?.invalid }" />
            <small class="ng-dirty ng-invalid"
              *ngIf="form.get('orderId')?.touched  && form.get('orderId')?.hasError('required')">Bu alan
              gerekli.</small>
          </div>
          <div class="field">
            <label for="parentId">Bağlı Sayfa</label>
            <p-dropdown formControlName="parentId" [appendTo]="'body'" [options]="items" [optionLabel]="pageLabel"
              optionValue="id" (onChange)="checkParentOnChange($event.value)" [filter]="true" [showClear]="true"
              placeholder="Bağlı Sayfa seçiniz" />
            <small class="ng-dirty ng-invalid"
              *ngIf=" form.get('parentId')?.touched && form.get('parentId')?.invalid">Bu
              alan
              gerekli.</small>
          </div>
        </form>
      </ng-template>

      <ng-template pTemplate="footer">
        <button pButton pRipple label="İptal" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Kaydet" icon="pi pi-check" class="p-button-text" (click)="saveItem()"
          [disabled]="form.pristine || form.invalid"></button>
      </ng-template>
    </p-dialog>

    <p-dialog [(visible)]="deleteItemDialog" header="Onay" [modal]="true" [style]="{ width: '450px' }">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="item">Bunu silmek istediğinize emin misiniz? <b>{{ item.title }}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Hayır"
          (click)="deleteItemDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Evet"
          (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>